# This file is used to configure npm.
# For example, you can set a default registry:
# registry=https://registry.npmjs.org/

# Or, if you are using a private registry, you can configure authentication:
# @my-scope:registry=https://my-private-registry.com/
# //my-private-registry.com/:_authToken="YOUR_AUTH_TOKEN"
