# This file is used to configure npm.
# For example, you can set the default package manager to pnpm.
# See https://docs.npmjs.com/cli/v9/configuring-npm/npmrc for more details.

# Use pnpm for package installation
# This is often set by Vercel automatically if a pnpm-lock.yaml is detected.
# If you prefer npm or yarn, you can remove or change this line.
# For this project, we assume pnpm is preferred.
# If you encounter issues with pnpm, you might try removing this line and
# letting Vercel detect your lockfile, or explicitly setting `npm` or `yarn`.
# For example: `shamefully-hoist=true` might be needed for some older packages.
